.react-toc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid #dddddd;
}

.react-toc-wrapper-heading {
  padding-left: 1rem;
  font-weight: 500;
}

.react-toc-active {
  border-left: 1px solid #0056b2;
  color: #0056b2;
  margin-left: -1px;
}

.react-toc-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: #0056b2;
  }
}

.react-toc-h2 {
  padding-left: 1rem;
}

.react-toc-h3 {
  padding-left: 1.75rem;
}

.react-toc-h4 {
  padding-left: 2.5rem;
}

.react-toc-h5 {
  padding-left: 3.25rem;
}

.react-toc-h6 {
  padding-left: 4rem;
}

.react-toc-item,
.react-toc-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
